<h1>Posts</h1>
<%Post.all.each do |post|%>
  <ul>
    <li>
      <a href="/posts/<%=post.id%>/<%=post.slug%>"><%=post.title%></a>
      -
      <a href="/users/<%=post.user.slug%>"><%=post.user.username%></a>
    </li>
  </ul>
<%end%>
