<h2><%=@post.title%></h2>

<p>
  <strong>
    <%=@post.content%></strong>
</p>
<hr>
<%@post.comments.each do |comment|%>
  <p><%=comment.content%></p>
  <p>By user:
    <a href="/users/<%=comment.user.slug%>"><%=comment.user.username%></a>
  </p>
  <hr>
<%end%>
<footer>
  <h3>Return to
    <a href="/posts">all posts</a>
  </h3>
</footer>
