<h2><%=@post.title%></h2>

<p>
  <strong>
    <%=@post.content%></strong>
</p>
<table>
  <td>
    <tr>
      <form action="/comments/new/<%=@post.id%>" method="get">
        <input type="submit" value="Comment"/>
      </form>
    </tr>&nbsp;

    <%if @post.user.id == current_user.id%>
      <tr>
        <form action="/posts/<%=@post.id%>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete"/>
        </form>
      </tr>
      &nbsp;
      <tr>
        <form action="/posts/<%=@post.id%>/edit" method="get">
          <input type="submit" value="Edit"/>
        </form>
      </tr>
    <%end%>
  </td>
</table>

<hr>
<%@post.comments.each do |comment|%>
  <p><%=comment.content%></p>
  <p>By user:
    <a href="/users/<%=comment.user.slug%>"><%=comment.user.username%></a>
  </p>
  <%if current_user.id == comment.user.id %>
    <table>
      <td>
        <form action="/comments/<%=comment.id%>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete comment"/>
        </form>
      </td>
      <td>
        <form action="/comments/<%=comment.id%>/edit" method="get">
          <input type="submit" value="  Edit comment  "/>
        </form>
      </td>
    </table>

  <%end%>
  <hr>
<%end%>
